  <div class="menu-mobile">
    <div class="btn">
      <button (click)="menu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="ul">
        <ul *ngIf="menuActive">
        <li>Sobre mi</li>
        <li>Habilidades</li>
        <li>Portafolio</li>
        <li>Contacto</li>
      </ul>
    </div>

  </div>

<div class="bg">
  <div class="menu">
    <ul>
      <li>Sobre mi</li>
      <li>Habilidades</li>
      <li>Portafolio</li>
      <li>Contacto</li>
    </ul>
  </div>





  <div class="about">
    
    <div class="text">
      <h1>Hola! </h1>
      <h2>Me llamo Gabriel Frison.  <span>Front-End developer</span></h2>
      
      
      <p>Tengo 23 años y soy desarrollador front-end junior.<br> 
         Estudie programación en el instituto superior pascal, Córdoba, Argentina. Y<br> 
         actualmente sigo aprendiendo por mi cuenta realizando proyectos personales y conociendo más tecnologías</p>

        <li routerLink="">Descargar CV</li>
      
      
    </div>
    


  </div>

</div>


  <div class="skills">

  <div class="my-skills">
    <h1>Habilidades</h1>

    <div class="center-skills">

      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/html.png" alt="">
        <span>HTML</span>
      </div>
      
      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/css-3.png" alt="">
        <span>CSS</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/js.png" alt="">
        <span>JavaScript</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/typescript.png" alt="">
        <span>TypeScript</span>
      </div>
  
      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/angular.png" alt="">
        <span>Angular</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/react.png" alt="">
        <span>React</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/nodejs.png" alt="">
        <span>NodeJS</span>
      </div>
  
      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/sql.png" alt="">
        <span>SQL</span>
      </div>

    </div>

    
  </div>  

  <div class="my-skills">
    <h1>Herramientas</h1>

    <div class="center-skills">

      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/git.png" alt="">
        <span>Git</span>
      </div>
      
      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/github.png" alt="">
        <span>GitHub</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/herramientas/postman.png" alt="">
        <span>PostMan</span>
      </div>
  
      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/vsCode.png" alt="">
        <span>VsCode</span>
      </div>

      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/npm.png" alt="">
        <span>Npm</span>
      </div>
  
    </div>

    
  </div>  
   

    
    
  </div>




<div class="container-portfolio">
  <h1>Mis proyectos personales</h1>
  <div class="portfolio">
    
    <div class="project">

      <figure>
        <img src="assets/projects/heroes.gif" alt="">
        <div class="github">
          <a href="">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <img src="assets/projects/equilibre.gif" alt="">
        <div class="github">
          <a href="">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <img src="assets/projects/futbol.gif" alt="">
        <div class="github">
          <a href="">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <img src="assets/projects/paises.gif" alt="">
        <div class="github">
          <a href="">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <h2>Proximamente...</h2>
        <div class="github">
          <a href="">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <h2>Proximamente...</h2>
        <div class="github">
          <a href="">Repositorio</a>
        </div>
      </figure>

    </div>
  


  </div>

</div>


  <div class="container-contact">
    <h1>Contactame...</h1>
    <div class="contact">
      
    </div>
  </div>




