  <div class="menu-mobile">
    <div class="btn">
      <button (click)="menu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="ul">
        <ul *ngIf="menuActive">
        <li (click)="about()" >Sobre mi</li>
        <li (click)="skills()">Habilidades</li>
        <li (click)="portfolio()">Portafolio</li>
        <li (click)="contact()">Contacto</li>
      </ul>
    </div>

  </div>

<div class="bg">
  <div class="menu">
    <ul>
      <li (click)="about()" >Sobre mi</li>
      <li (click)="skills()">Habilidades</li>
      <li (click)="portfolio()">Portafolio</li>
      <li (click)="contact()">Contacto</li>
    </ul>
  </div>





  <div class="about" id="about">
    
    <div class="text">
      <h1>Hola! </h1>
      <h2>Me llamo Gabriel Frison.  <br><span>Front-End developer...</span></h2>
      
      <p>Tengo 23 años, soy desarrollador front-end junior.<br> 
        Estudie programación en el Instituto Superior Pascal, Córdoba, Argentina.<br> 
        Actualmente sigo aprendiendo de manera autodidacta realizando proyectos personales y estudiando más tecnologías.</p>
        <a href="assets/CV_GabrielFrison.pdf" download >Descargar CV</a>
      
      
    </div>
    


  </div>

</div>


  <div class="skills" id="skills">

  <div class="my-skills">
    <h1>Habilidades</h1>

    <div class="center-skills">

      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/html.png" alt="">
        <span>HTML</span>
      </div>
      
      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/css-3.png" alt="">
        <span>CSS</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/js.png" alt="">
        <span>JavaScript</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/typescript.png" alt="">
        <span>TypeScript</span>
      </div>
  
      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/angular.png" alt="">
        <span>Angular</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/react.png" alt="">
        <span>React</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/skills/nodejs.png" alt="">
        <span>NodeJS</span>
      </div>
  
      <div class="group-skill">
        <img class="skill-icon" src="assets/skills/sql.png" alt="">
        <span>SQL</span>
      </div>

    </div>

    
  </div>  

  <div class="my-skills">
    <h1>Herramientas</h1>

    <div class="center-skills">

      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/git.png" alt="">
        <span>Git</span>
      </div>
      
      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/github.png" alt="">
        <span>GitHub</span>
      </div>
  
      <div class="group-skill">
  
        <img class="skill-icon" src="assets/herramientas/postman.png" alt="">
        <span>PostMan</span>
      </div>
  
      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/vsCode.png" alt="">
        <span>VsCode</span>
      </div>

      <div class="group-skill">
        <img class="skill-icon" src="assets/herramientas/npm.png" alt="">
        <span>Npm</span>
      </div>
  
    </div>

    
  </div>  
   

    
    
  </div>




<div class="container-portfolio"id="portfolio">
  <h1>Mis proyectos personales</h1>
  <div class="portfolio" >
    
    <div class="project">

      <figure>
        <img src="assets/projects/heroes.gif" alt="">
        <div class="github">
          <a href="" target="_blank">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <img src="assets/projects/equilibre.gif" alt="">
        <div class="github">
          <a href="https://github.com/FrisonGabi/Equilibre" target="_blank">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <img src="assets/projects/futbol.gif" alt="">
        <div class="github">
          <a href="https://github.com/FrisonGabi/ReSports" target="_blank">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <img src="assets/projects/paises.gif" alt="">
        <div class="github">
          <a href="" target="_blank">Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <h2>Proximamente...</h2>
        <div class="github">
          <a href="" >Repositorio</a>
        </div>
      </figure>

    </div>
    
    <div class="project">

      <figure>
        <h2>Proximamente...</h2>
        <div class="github">
          <a href="">Repositorio</a>
        </div>
      </figure>

    </div>
  


  </div>

</div>


<div class="container-contact">
  <h1>Contacto</h1>
  <div class="contact" id="contact">
    <form [formGroup]="miFormulario" (submit)="enviar($event)" >
      <label for="">Nombre</label>
      <input formControlName="from_name" name="from_name">
      <span *ngIf="campoValido('from_name')">Requerido</span>

      <label for="">Email</label>
      <input formControlName="user_email" name="user_email">
      <span *ngIf="campoValido('user_email')">Requerido</span>

      <label for="">Mensaje</label>
      <textarea formControlName="message" name="message"></textarea>
      <span *ngIf="campoValido('message')">Requerido</span>

      <button type="submit">Enviar</button>
    </form>
  </div>
</div>


<div class="footer">
  <div class="social">
    <a href="https://www.instagram.com/frisongabi" target="_blank"><img src="assets/contact/instagram.png" alt=""></a> 
    <a href="https://www.linkedin.com/in/gabriel-frison-5ab551189" target="_blank"><img src="assets/contact/linkedin.png" alt=""></a> 
    <a href="https://twitter.com/FrisonGabi" target="_blank"><img src="assets/contact/twitter.png" alt=""></a> 
    <a href="https://wa.me/5493541530845?text=Hola!" target="_blank"><img src="assets/contact/whatsapp.png"  alt=""></a> 
  </div>
  <p>Hecho por <a href="https://github.com/frisongabi" target="_blank">Gabriel Frison</a> - 2022</p>
</div>

